/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  max-width: 1024px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* TITLES */

h1 {
  font-size: 45px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search input {
  background-color: #f8efef;
  border: none;
  width: 400px;
  height: 35px;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
}

.search input:focus {
  outline: none;
}

.emoji {
  display: flex;
  background-color: #fcf8f8;
  height: 45px;
  margin: 10px;
  width: 500px;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  padding: 0 10px;
}

.hidden:hover {
  display: inline;
}
.emoji:hover {
  background-color: #f8efef;
  cursor: pointer;
}

.hidden {
  display: none;
}

.emoji:hover .hidden {
  display: block;
}

/* FOOTER */

footer {
  margin-top: 50px;
  height: 100px;
}

footer span {
  font-weight: 700;
}
